#preview img {
  max-width: 30rem;
  width: 100%;
  max-height: 37.5rem;
  border-radius: 1rem;
  outline: solid #e0e0e0 1px;
  outline-offset: -1px;
  padding: 1rem;
  object-fit: contain;
  @media (prefers-color-scheme: dark): {
    /* 이미지를 다크모드에서 더 어둡게 하려면 사용 */
    /* filter: brightness(0.8); */
  }
}

.dark #preview img {
  /* 이미지를 다크모드에서 더 어둡게 하려면 사용 */
  /* filter: brightness(0.8); */
}

#preview li {
  list-style: none;
}

#preview {
  line-height: 1.2;
}
