#preview img {
  max-width: 30rem;
  width: 100%;
  max-height: 37.5rem;
  border-radius: 1rem;
  outline: solid #e0e0e0 1px;
  outline-offset: -1px;
  padding: 1rem;
  object-fit: contain;
}

#preview li {
  list-style: none;
}

#preview {
  line-height: 1.2;
}
